.testimonials{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
.testimonials h4{
    align-self: center;
    font-family: Poppins;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;
}
.testimonials .testimonial-one, .testimonial-two{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.testimonials .testimonial-two{
    margin-left: 50px;
}
.testimonials .testimonial-two .three{
    margin-right: 50px;
}
.testimonials .testimonial-text{
    width: 493px;
    padding: 20px 40px;
    background: #FFFFFF;
    box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-family: Trueno;
    font-size: 18px;
    line-height: 25px;
    color: #01114C;
}
.testimonials .testimonial{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.testimonials .testimonial img{
    width: 80px;
    height: 80px;
    align-self: flex-end;
    margin-top: 30px;
}


/* Media Query */
@media screen and (max-width:500px){
    .testimonials{
        width: 95%;
        margin: 0 auto;
    }
    .testimonials .testimonial-one, .testimonial-two{
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;
    }

    .testimonials .testimonial-two{
        margin: 0;
    }
    .testimonials .testimonial-two .three{
        margin: 0;
        margin-bottom: 50px;
    }
    .testimonials .testimonial-text{
        width: 90%;
        padding: 0;
        padding-right: -5px;
        text-align: justify;
        padding: 10px;
        /* padding: 5px; */
        /* padding-left: 5px; */
        font-size: normal;
    }
    .testimonials .testimonial{
        margin-bottom: 50px;
    }
}